* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(34, 33%, 97%);  
}

header {
  width: 100%;
  height: 80px;
  padding: 35px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .hamburguer-menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header .hamburguer-menu .line {
  width: 100%;
  height: 2px;
  border-radius: 20px;
  background-color: black;
}

header .icon-container {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

header .icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.search-icon {
  background-image: url('./images/icons/search-icon.png');
}

.shopping-car-icon {
  background-image: url('./images/icons/shopping-car-icon.png');
}

.find-your-style-container h1 {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.find-your-style-container {
  padding: 0 20px;
}

.find-your-style-container nav {
  margin-top: 25px;
  padding-bottom: 20px;
  overflow-x: scroll;
}

.find-your-style-container nav ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

.find-your-style-container nav ul > li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border: 1px solid #9D9D9D;
  list-style: none;
  padding: 8px 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.find-your-style-container nav ul > li:hover {
  background-color: hsl(0, 0%, 22%);
  border-color: hsl(0, 0%, 22%);
  cursor: pointer;
  color: white;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-top: 20px;
}

.card {
  width: 280px;
  height: 450px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  margin: 0 20px;
}

.card-image {
  width: 100%;
  height: 100%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.card footer {
  padding: 10px 0 0;
  text-align: center;
  font-family: 'Lora', serif;
}

.card-name {
  font-size: 1.4rem;
  font-weight: 400;
}

.card-price {
  font-weight: 500;
  font-size: 1.6rem;
}

.card-price::after {
  content: ' $';
  color: #F4D19B;
}

.most-popular-container { 
  width: 100%;
}

.most-popular-container .top-titles{
  font-family: 'Lora', serif;
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}

.top-titles h2, .top-titles h3 {
  font-weight: 500;
}

.top-titles h3 {
  color: #F4D19B;
}

.most-popular-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socials-footer {
  font-family: 'Lora', serif;
  width: 100%;
  padding: 20px;
}

.socials-footer h2 {
  font-weight: 400;
  border-bottom: 1px solid black;
}

.socials-footer .socials-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.socials-container > div {
  display: flex;
  align-items: center;
}

.socials-container a {
  margin-left: 5px;
  color: black;
  text-decoration: none;
}

.socials-footer i {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}
